.about-container {
  background-color: lightgrey;
  padding: 60px 0;
  width: 100%;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}
.aboutP {
  font-family: calibri;
}
.about-text {
  width: 45%;
}
.aboutH2 {
  font-family: calibri;
}
.about-text h2 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.about-text p {
  color: black;
  font-size: 1rem;
}

.about-image {
  width: 45%;
  position: relative;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    padding: 0 15px;
  }

  .about-text,
  .about-image {
    width: 100%;
  }

  .about-text {
    margin-bottom: 30px;
  }
}
